@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #c2c2c2;
    font-family: 'Space Mono', monospace;
    line-height: 1.6;
    padding: 2rem;
    word-spacing: 0.2em;
}

main {
    max-width: 80vw;
    margin: 0 auto;
    padding-top: 4rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

p {
    margin-bottom: 1.5rem;
}

ul {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

li {
    margin-bottom: 0.5rem;
}

em {
    font-style: italic;
}

a {
    color: #3e8ad6;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

a:hover {
    opacity: 0.7;
}
